@{
    ViewData["Title"] = "Contato";
}

<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="table-responsive" style="max-width: 600px;">
        <table class="table table-bordered table-striped table-hover text-center align-middle shadow rounded">
            <thead class="table-primary">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gustavo Gregório</td>
                    <td>gustavogregorio1986@gmail.com</td>
                    <td>21996972628</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>