@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome de Aviação</h1>
    <p>Desenvolver semrpe é o melhor caminho, para o crescimento aprofundano no enetendimento aprimorado em uma evolução para crescer como profissional. Semmpre programando da melhor forma para uma evolução criteriosa aperfeiçoada.</p>
    <div class="alert alert-secondary" role="alert">
        O estudo traz um podeer imenso para meu crescimento profissional
    </div>
    <div class="alert alert-success" role="alert">
        A  evolução profisisonal sempre nos faz crescer e pode evoluir o maximo como rpofissão
    </div>
    <div class="alert alert-danger" role="alert">
        Estudar sempre é o melhor caminho, para o crescimento dedicavel, paar uma eovlução como profissional
    </div>
</div>
